.screen {
  margin: 0 auto;
}
.playBtn {
  padding: 20px 130px;
  display: block;
  background: #531e4b;
  border-radius: 5px;
  border: none;
  margin: 0 auto 30px;
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
  &:disabled {
      opacity: 0.6;
  }
  &:focus {
    outline: 0;
  }
}
  
  .cup {
    position: absolute;
    display: flex;
    padding: 10px;
    width: 120px;
    height: 0;
    justify-content: center;
    align-items: center;
    background: transparent;
    border-bottom: 140px solid rgb(230,230,230);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 0;
    cursor: pointer;
    transition: transform 450ms;
    will-change: transform;
    &:hover {
      border-bottom: 140px solid rgb(200,200,230);
    }
    span {
        font-size: 3.2rem;
    }
  }
  
  .shell {
    font-size: 3.2rem;
    position: relative;
    bottom: -90px;
    opacity: 0;
    &.win {
      opacity: 1;
    }
    &.show {
      animation-name: materialize;
      animation-duration: 1.5s;
    }
  }
  
  .win {
    opacity: 1;
  }
  
  .show {
    animation-name: materialize;
    animation-duration: 2s;
  }
  
  @keyframes materialize {
    50% { opacity: 1; }
    to { opacity: 0; }
  }
  
  
  
  
  .form__btn {
    padding: 10px 20px;
  
    background: #3c587c;
    border-radius: 5px;
    border: none;
  
    font-weight: bold;
    color: white;
  }